    button {
        background-color: white;
        height: 2rem;
        margin: 0.1rem 0.6rem;
        border: 1px solid black;
    }
    
    ul {
        list-style-type: none;
    }
    
    form input {
        width: 60%;
        outline: none;
    }
    
    form {
        margin-left: 1rem;
        width: 80%;
        text-align: left;
        /* max-width: 86%; */
    }
    
    .clear {
        border: none;
    }
    
    .black {
        background-color: black;
        color: white;
    }
    
    .header-search {
        width: 40%;
        border: black 1px solid;
        border-radius: 14rem;
    }
    
    .header {
        height: 4rem;
        display: flex;
        align-items: center;
        box-shadow: 3px 3px 6px 1px rgba(6, 3, 3, 0.2);
        justify-content: space-between;
        margin-bottom: 2px;
    }
    
    img {
        width: 6rem;
    }
    
    .header button {
        font-size: .9rem;
    }
    
    header {
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: #f6f6f8;
        margin: 0rem 5rem;
    }
    
    .heading-view {
        box-shadow: 0px 0px 6px 0px rgba(6, 3, 3, 0.2);
        width: 35%;
        padding: .7rem
    }
    
    .centr {
        margin: 1rem 3rem 1rem 3rem;
    }
    
    section {
        margin-right: 5rem;
        margin-left: 5rem;
    }
    
    h1 {
        font-size: 240%;
    }
    
    p {
        font-size: 110%;
    }
    
    .main-body {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        /*
  justify-content: flex-start;

*/
    }
    
    .main-body img {
        height: 9rem;
        width: 16rem;
    }
    
    .main-body a {
        margin-right: 3rem;
        margin-bottom: 2rem;
    }
    
    h2 {
        margin: 0;
        padding: 0;
    }
    
    h3 {
        margin: 0;
        padding: 0;
    }
    
    h4 {
        margin: 0;
        padding: 0;
    }
    
    h5 {
        margin: 0;
        padding: 0;
    }
    
    a h3 {
        max-width: 16rem;
    }
    
    a {
        text-decoration: none;
    }
    
    .blacklink {
        color: black;
        font-weight: 5000;
    }
    
    #img1 {
        width: 40rem;
    }
    
    .garylink {
        color: gray;
        margin-top: .3rem;
        margin-bottom: .3rem;
    }
    
    .no-butt {
        display: none;
    }
    
    form {
        height: 1.5rem;
    }
    
    @media screen and (max-width: 1300px) {
        header {
            flex-direction: column-reverse;
        }
        #img1 {
            width: 31.4rem;
            box-shadow: 0px 0px 6px 0px rgba(6, 3, 3, 0.2);
        }
        .heading-view {
            width: 30rem;
            height: 10rem;
        }
        .small-screen {
            display: none;
        }
    }
    
    @media screen and (max-width: 950px) {
        .very-small-screen {
            display: none;
        }
        .no-butt {
            display: block;
        }
    }